@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    outline: none;
}

body {
    color: #fff;
    background: #131418;
}

@layer base {
    a {
        @apply text-link;
    }
}

@layer utilities {
    .text-link {
        @apply cursor-pointer text-blue hover:underline;
    }

    .flex-center {
        @apply flex items-center justify-center;
    }
}
