@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  outline: none;
}

body {
  color: #fff;
  background: #131418;
}

:root {
  --gradient-from: #a072ff;
  --gradient-to: #3592ff;
}

@layer base {
  a {
    @apply text-link;
  }

  @font-face {
    font-family: 'D-DIN';
    font-weight: 700;
    src: url(https://cdn1.p12.games/fonts/D-DIN-Bold.ttf);
  }
}

@layer utilities {
  .text-link {
    @apply cursor-pointer text-blue hover:underline;
  }

  .flex-center {
    @apply flex items-center justify-center;
  }
}

.rotate-container {
  position: relative;
}

.rotate-container input {
  display: none;
}

.rotate-container div {
  transition: transform 0.5s;
}

.rotate-container input:checked + div {
  transform: rotate(180deg);
}

@layer components {
  .border-dragon {
    border: 26px solid;
    border-image: url('/img/gpark/dragon-border.svg');
    border-image-slice: 30;
  }
}
